<html data-ng-app="seFormsDemoApp" data-ng-controller="DemoCtrl as demoCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>seFormsDemoApp</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.1/select.css" />
		<link rel="stylesheet" href="../css/seForms.css" />
		<style>
			.highlighted.has-error input {
				border-color: #ff0000;
			}
		</style>
	</head>
	<body>

		<div class="notifications se-animation-showhide" data-se-notifications data-se-notifications-position="BAR"></div>

		<div class="col-sm-12">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="panel panel-default" >
					<div class="panel-heading">Click the button without entering information:</div>
					<div class="panel-body">
						<form name="exampleForm" novalidate data-se-validation-form="MemberDTO">
							<div class="form-group">
								<label>value:</label>
								<p>
									{{demoCtrl.member | json}}
								</p>
							</div>
							<div class="form-group">
								<label for="exampleFormName">required</label>
								<input type="text" class="form-control" id="exampleFormName" data-ng-model="demoCtrl.member.name">
							</div>
							<div class="form-group">
								<label for="exampleFormNumber">required, number</label>
								<input type="text" class="form-control" id="exampleFormNumber" data-ng-model="demoCtrl.member.number">
							</div>
							<div class="form-group">
								<label for="exampleFormEmail">required, email</label>
								<input type="text" class="form-control" id="exampleFormEmail" data-ng-model="demoCtrl.member.email">
							</div>
							<div class="form-group">
								<label for="exampleFormPassword">password</label>
								<input type="password" class="form-control" id="exampleFormPassword" data-ng-model="demoCtrl.member.password">
							</div>
							<div class="form-group">
								<label for="exampleForm$$passwordAgain">retype password</label>
								<input type="password" class="form-control" id="exampleForm$$passwordAgain"
									data-se-validate-equality="demoCtrl.member.password" data-ng-model="demoCtrl.member.$$passwordAgain">
							</div>
							<div class="form-group">
								<label>Inline edit</label>
								<div data-se-inline-edit style="display: inline;">
									{{demoCtrl.member.comment}}
									<div data-se-inline-edit-form>
										<div data-se-form-validation="MemberDTO">
											<div>
												<input type="text" class="form-control" data-ng-model="demoCtrl.member.comment" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Reference data</label>
								<div data-ng-model="demoCtrl.member.country" data-se-reference-data-picker="countries"></div>
							</div>
							<div class="form-group">
								alert() will be called only if validation is passed:
								action should be confirmed too:

								<button type="submit" class="btn btn-default"
									data-se-confirmation data-se-validation-button
									data-ng-click="demoCtrl.save()">Save</button>
								<a data-ng-if="TODOmembersimplemented" class="btn-link" data-ui-sref="home.authenticate.passwordreset.generatetoken">{{ 'authenticate.login.header.forgotPassword' | translate }}</a>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="panel panel-default" >
					<div class="panel-heading">if empty string - value will be undefined:</div>
					<div class="panel-body">
						<input data-ng-model="demoCtrl.undefinedifempty" data-se-undefined-if-empty />
						undefined if empty: {{demoCtrl.undefinedifempty | json}}
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-12">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="panel panel-default" >
					<div class="panel-heading">Form is autosaved everytime it is changed - see network activity</div>
					<div class="panel-body">
						<form name="preferencesForm" novalidate class="panel-body" data-se-validation-form="PreferencesDTO"
							data-se-form-auto-submit="demoCtrl.updatePreferences()"
							data-se-form-auto-submit-model="demoCtrl.preferences"
						>
							<div class="form-group">
								<label for="preferencesFormColor">Favourite color</label>
								<input type="text" class="form-control" id="preferencesFormColor" data-ng-model="demoCtrl.preferences.color">
							</div>

							<div class="form-group">
								<label for="preferencesFormPet">Favourite pet</label>
								<input type="text" class="form-control" id="preferencesFormPet" data-ng-model="demoCtrl.preferences.pet">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.1/select.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.5/angular-sanitize.js"></script>





		<script src="libs/seEventHelperService.js"></script>


		<script src="libs/seNotifications/seNotificationsModule.js"></script>
		<script src="libs/seNotifications/seNotificationsService.js"></script>
		<script src="libs/seNotifications/seNotificationsDirective.js"></script>
		<script src="libs/seNotifications/seNotificationsLoggerService.js"></script>
		<script src="libs/seNotifications/seNotificationsTranslations.js"></script>
		<script src="libs/seNotifications/seNotificationsTranslations.bg.js"></script>
		<script src="libs/seNotifications/seNotificationsTranslations.en.js"></script>
		<script src="libs/seNotifications/seNotificationsVersion.js"></script>
		<script src="libs/seNotifications/seNotificationsHtml.js"></script>

		<script src="../src/seFormsModule.js"></script>
      <script src="../src/inputs/seCheckboxListDirective.js"></script>
      <script src="../src/validation/seValidationConstraintsService.js"></script>
      <script src="../src/validation/isShowModelValidationFlagSetFilter.js"></script>
		<script src="../src/validation/seValidationTooltipDirective.js"></script>
		<script src="../src/validation/seValidationLabelDirective.js"></script>
      <script src="../src/validation/seValidationButtonDirective.js"></script>
      <script src="../src/validation/seValidationFormDirective.js"></script>
		<script src="../src/inputs/seUndefinedIfEmptyDirective.js"></script>
		<script src="../src/inputs/seInlineEditDirective.js"></script>
      <script src="../src/validation/seValidateEqualityDirective.js"></script>
		<script src="../src/validation/seValidateExternalDirective.js"></script>

		<script src="../src/referencedata/seReferenceDataService.js"></script>
		<script src="../src/referencedata/seReferenceDataPickerDirective.js"></script>

      <script src="../src/seFormsTranslations.bg.js"></script>
      <script src="../src/seFormsTranslations.en.js"></script>
		<script src="../src/seFormsTranslations.js"></script>
		<script src="../src/seConfirmationDirective.js"></script>
		<script src="../src/seFormAutoSubmitDirective.js"></script>

		<script src="../gen/seFormsHtml.js"></script>

		<script src="scripts/demoCtrl.js"></script>
	</body>
</html>
